<div class="sidebar bg-dark text-light">
<ul class="nav flex-column" style=" padding:10px;">
<li class="sidebar-heading">
    <div class="nav-item">
        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" style="width:32px;height:32px; border-radius: 100%;">
        <span class="text-light" style="margin-left: 10px;">Tarash Sajaia</span>
    </div>
</li>
<div class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <ul class="nav flex-column">
        <li class="sidebar-heading"><p>საკონტაქტო ინფორმაცია:</p></li>
        <li class="nav-item"><a href="tel:+13473702838">347-370-2838</a></li>
        <li class="nav-item"><a href="mailto:tsraikage@gmail.com">tsraikage@gmail.com</a></li>
        <li class="nav-item"><a href="https://github.com/LongToeBoy" target="_blank">git/LongToeBoy</a></li>
    </ul>
</div>
</ul>

</div>